<div class="container mt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/students.png" class="d-block w-100" alt="Primeiro Slide">
          <div class="carousel-caption d-none d-md-block" style="display: flex; justify-content: center; align-items: center;">
            <h1 class="text-light">Gerencie seus alunos em um só lugar</h1>
            <h4>{{this.students.length}} Alunos já cadastrados</h4>  
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/teacher.png" class="d-block w-100" alt="Segundo Slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Economize tempo</h3>
            <p>Gráficos simples e com informações relevantes</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/Group 29.png" class="d-block w-100" alt="Terceiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h1>DESTRUIU A MINHA VIDA</h1>
            <p>Obrigado</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>