.carousel-caption {

  }
  
  @media (max-width: 768px) {
    .carousel-caption h1{
      font-size: 16px;
    }
    .carousel-caption h3{
      font-size: 12px;
    }
    .carousel-caption p {
      font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    }
  
    .carousel-caption {
      display: block; /* Garante que a legenda seja exibida */
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1px; /* Adiciona padding para evitar que o texto fique muito colado */
    }
  }
  