<div style="padding: 20px;">
    <div style="font-family:  Poppins, sans-serif; padding: 5px;">
        <div style="display: flex; justify-content: center;">
        <h1 class="text-light">Students Management System</h1>
        </div>
        <div style="justify-content: start;">
            <p class="text-md-center mt-2 text-light container">Um sistema simples para gerenciar alunos utilizando Angular, Bootstrap, Angular Material e JSON Server.</p>
        </div>
    </div>
    <div>
        <app-caroulsel></app-caroulsel>
            <div class="bg-dark.bg-gradient text-light" style="font-family:  Poppins, sans-serif; display: flex;">
            <footer class="footer fixed-bottom">
                <div class="container">
                  <div class="row" style="display: flex; justify-content: space-between;">
                    <div class="col-md-6">
                      <p>© Gabriel Carlos 2024 </p>
                      <div>
                        <img src="../../../assets/envelope-at.svg" href="aluno.gabriel.carlos@doctum.edu.br">
                        <span style="font-size: smaller;"></span>
                      </div>
                    </div>
                    <div class="col-md-6 text-end text-light">
                      Github
                      <a href="https://github.com/youngabreu1" target="_blank" class="me-3"><img src="./assets/github.svg"><img /></a>
                      LinkedIn
                      <a href="https://www.linkedin.com/in/gabriel-carlos-863917259/" target="_blank"><img src="./assets/linkedin.svg" alt=""></a>
                    </div>
                  </div>
                </div>
              </footer>
        </div>
        
    </div>
</div>
