<div style="padding: 20px;">
    <div style="font-family:  Poppins, sans-serif; padding: 5px;">
        <div style="display: flex; justify-content: center;">
        <h1 class="text-light">Students Management System</h1>
        </div>
        <div style="justify-content: start;">
            <p class="text-md-center mt-2 text-light container">Um sistema simples para gerenciar alunos utilizando Angular, Bootstrap, Angular Material e JSON Server.</p>
        </div>
    </div>
    <div>
        <app-caroulsel></app-caroulsel>
    </div>
</div>
